/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 4, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 8, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

@media all and (max-width: 767px) {
  /* line 14, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 15, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 22, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }

  /* line 27, ../sass/partials/_modules.scss */
  .index-s1, .index-s3, .index-s4, .index-s5 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 28, ../sass/partials/_modules.scss */
  .index-s1 *, .index-s3 *, .index-s4 *, .index-s5 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 34, ../sass/partials/_modules.scss */
  .index-s1, .index-s3 {
    background-position: right !important;
  }

  /* line 39, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s2, .menu-s3, .menu-s4, .menu-s5, .menu-s6 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 40, ../sass/partials/_modules.scss */
  .menu-s1 *, .menu-s2 *, .menu-s3 *, .menu-s4 *, .menu-s5 *, .menu-s6 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 47, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s3 {
    background-position: right !important;
  }

  /* line 52, ../sass/partials/_modules.scss */
  .navbar-toggler {
    background-color: #555;
    border-color: #333;
  }
  /* line 56, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #555;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }

  /* line 64, ../sass/partials/_modules.scss */
  .specials-s1, .specials-s2, .specials-s3, .specials-s4, .about-s1, .about-s2, .about-s3, .about-s4 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 65, ../sass/partials/_modules.scss */
  .specials-s1 *, .specials-s2 *, .specials-s3 *, .specials-s4 *, .about-s1 *, .about-s2 *, .about-s3 *, .about-s4 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 72, ../sass/partials/_modules.scss */
  .specials-s1, .specials-s3, .about-s1, .about-s3 {
    background-position: right !important;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.about-s1 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s2 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s3 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s4 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s4 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s5 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s1 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s2 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s3 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s4 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s5 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s6 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.specials-s1 {
  background-attachment: scroll;
  background-image: url(../img/specials/specials-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.specials-s2 {
  background-attachment: scroll;
  background-image: url(../img/specials/specials-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.specials-s3 {
  background-attachment: scroll;
  background-image: url(../img/specials/specials-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.specials-s4 {
  background-attachment: scroll;
  background-image: url(../img/specials/specials-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.user-s1 {
  background-attachment: scroll;
  background-image: url(../img/login/login-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
