

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
nav{
    z-index: 10;
}

@media all and (max-width: 767px){
    .contact{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1,&-s3,&-s4,&-s5{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .menu{
        &-s1,&-s2,&-s3,&-s4,&-s5,&-s6{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }        
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #555;
            border-color: #333;
        }
        &-nav{
            background-color: #555;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
    .specials,.about{
        &-s1,&-s2,&-s3,&-s4{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }        
        &-s1,&-s3{
            background-position: right!important;
        }
    }
}