$prefix: "../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg",
    $prefix+"img/about/about-s4.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    $prefix+"img/index/index-s2.jpg",
    $prefix+"img/index/index-s3.jpg",
    $prefix+"img/index/index-s4.jpg",
    $prefix+"img/index/index-s5.jpg";
$bg__menu-img: 
    $prefix+"img/menu/menu-s1.jpg",
    $prefix+"img/menu/menu-s2.jpg",
    $prefix+"img/menu/menu-s3.jpg",
    $prefix+"img/menu/menu-s4.jpg",
    $prefix+"img/menu/menu-s5.jpg",
    $prefix+"img/menu/menu-s6.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__specials-img: 
    $prefix+"img/specials/specials-s1.jpg",
    $prefix+"img/specials/specials-s2.jpg",
    $prefix+"img/specials/specials-s3.jpg",
    $prefix+"img/specials/specials-s4.jpg";
$bg__user-img: $prefix+"img/login/login-s1.jpg";
$bg__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "menu",
    "privacy",
    "specials",
    "user";
$bg__aoa:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__specials-img,
    $bg__user-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 